
<div class="container">

      <h2 style="text-align: center;">{{title}}</h2>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2021 Copyright:
    </div>
    <!-- /Copyright -->
  </footer>
  <!-- /Footer -->

</div>

<!--<footer class="container">-->
<!--  <div class="footer-container">-->
<!--&lt;!&ndash;    <span>Debobrato Biswas</span>&ndash;&gt;-->
<!--    <span class="footer-container-span">@copyright</span>-->
<!--  </div>-->
<!--</footer>-->



