.spacer {
  flex: 1 1 auto;
}

.footer-container{
  background-color: #04AB9C  ;
  text-align: center;
  color: white;
}


.navbar-brand{
  background: darkslategray;
  color: white;
  width: 15%;
  text-align: center;
  font-weight: 500;
}
/*////*/
/*.modify{*/
/*  background: darkslategray;*/
/*}*/
/*.modify ul li a{*/
/*  color: white;*/
/*}*/

/*.modify ul li a:hover{*/
/*  color: black;*/
/*  background: forestgreen;*/
/*}*/

/*.page-footer{*/
/*  background: darkslategray;*/
/*  color: darkgray;*/
/*}*/

